<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.tectoyscanner" version="1.2.0" xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>CordovaPluginTecToyScanner</name>
    <js-module name="CordovaPluginTecToyScanner" src="www/CordovaPluginTecToyScanner.js">
        <clobbers target="cordova.plugins.CordovaPluginTecToyScanner" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="CordovaPluginTecToyScanner">
                <param name="android-package" value="com.tectoyscanner.CordovaPluginTecToyScanner" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/CordovaPluginTecToyScanner.java"
            target-dir="src/com/tectoyscanner/CordovaPluginTecToyScanner" />
        <framework src="plugin-settings.gradle" custom="true" type="gradleReference" />
        <resource-file src="src/android/libs/it4r.aar" target="libs/it4r.aar" />
    </platform>
</plugin>